/* Style for searching Box */
.search-form {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-right: 0;
  }
  .search-form-instance {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-left: 0;
  }
  
  /* Styling for the input field */
  .search-input, .search-input-instance {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 0 1px 2px rgba(14, 4, 200, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* Input field focus effect */
  .search-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }

  /* Ordering options */
  .order-form  {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-right: 0;
  }
  .group-form{
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-right: 0;
  }
 
  .select-form {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: inset 0 1px 2px rgba(14, 4, 200, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 2px;
  }

.sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    float: left; /* Float the sidebar to the left */
    height: 100vh; /* Make sure it spans the entire viewport height */
}

.sidebar h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
    padding: 10px;
    border-radius: 5px;
}
.sidebar.active {
  width: 0;
  transition: width 0.3s;
}

.content {
  transition: margin-left 0.3s;
}

.sidebar.active + .content {
  margin-left: 0;
}