
<body>
    <form class="search-form" method="GET" action="{% url 'task-list-search' %}">
    <input id="search-input" class="search-input" type="text" name="q" placeholder="Search tasks...">
 </form>
 <form  class="order-form input-group" method="GET">
  <select class="custom-select" name="order_by" id="order_by" onchange="this.form.submit()">
      <option value="">Select Order By</option>
      <option value="due_date_asc" {% if request.GET.order_by == "due_date_asc" %}selected{% endif %}>Due Date (Earliest first)</option>
      <option value="due_date_desc" {% if request.GET.order_by == "due_date_desc" %}selected{% endif %}>Due Date (Latest first)</option>
      <option value="title_asc" {% if request.GET.order_by == "title_asc" %}selected{% endif %}>Title (A-Z)</option>
      <option value="title_desc" {% if request.GET.order_by == "title_desc" %}selected{% endif %}>Title (Z-A)</option>
      <option value="status" {% if request.GET.group_by == "status" %}selected{% endif %}> by status</option>
      <option value="assignee" {% if request.GET.group_by == "assignee" %}selected{% endif %}>by Assignee</option>
  </select>
</form>
</body>


