{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-16">
        <h2 class="my-4">Task List</h2>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Status</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.assignee.username }}</td>  <!-- Display the username of the assignee -->
                    <td>
                        {%if task.status == 'C' %}
                            <span class="badge badge-success">Completed</span>
                        {% elif task.status == 'P' %}
                            <span class="badge badge-warning">Pending</span>
                        {% elif task.status == 'O' %}
                            <span class="badge badge-info"> In process</span>
                        {% endif%}
                    </td> 
                    <td>{{ task.due_date}}</td>
                     <td>
                        <a href="{% url 'task-update' task.pk %}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'task-delete' task.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'task-create' %}" class="btn btn-success">Add New Task</a>
    </div>
</div>

{% endblock %}