<!-- templates/calendar.html -->

{% extends "base.html" %}
{% block content %}
{% load calendar_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Task Calendar</title>
    <style>
        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }
        .day {
            border: 1px solid #ddd;
            padding: 10px;
            height: 150px;
            vertical-align: top;
        }
        .day-header {
            font-weight: bold;
            text-align: center;
            margin-bottom: 5px;
        }
        .empty-day {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body >
    <h2 class="alert alert-warning"> {{ month }} {{ year }}</h2>
    <div class="btn-group d-grid d-md-flex col-2 mb-1"> 
        <a class="btn btn-outline-secondary" href="{% url 'mycalendar' prev_year prev_month %}">Prev</a>
        <a class="btn btn-outline-secondary" href="{% url 'mycalendar' next_year next_month %}">Next</a>
       
    </div>
    <div class="calendar ">
        <!-- Day headers -->
        {% for day_name in day_names %}
            <div class="day-header alert alert-info ">{{ day_name }}</div> 
        {% endfor %}
        
        <!-- Calendar weeks -->
        {% for week in weeks %}
            {% for day in week %}
                {% if day %}
                    <div class="day">
                        <strong>{{ day.day }}</strong>
                        <ul>
                            {% for task in tasks_by_day|get_tasks:day %}
                            {%if task.status == 'C' %}
                            <li > <a href="{% url 'task-update' task.pk %}"  class="text-success">{{ task.title|custom_truncatechars:10}}</a></li>
                            {%elif task.status == 'O' %}
                            <li  ><a href="{% url 'task-update' task.pk %}" class="text-info">{{ task.title|custom_truncatechars:10}}</a></li>
                            {% else%}
                            <li ><a href="{% url 'task-update' task.pk %}" class="text-warning">{{ task.title|custom_truncatechars:10}}</a></li>
                            {% endif%}                                
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="day empty-day"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>
{%endblock%}